.jumbotron {
    display: flex;
    color: $dark-blue;
    padding-top: 80px;
}
.jumbo-text{
    h1 {
    font-size:58.5px ;
    font-weight: 300;
    text-transform: uppercase;

    b {
        font-weight: 700;
    }
    
    }
    h4 {
        font-size: 22px;
        font-weight: 700px;
    }
}

.jumbo-img .pc-gif {
        width: 500px;
}